.Root{
    -fx-background-color: #ffffff;
}

.toolbar{
    -fx-pref-height:70px;
    -fx-min-height: 70px;
    -fx-background-color: #4059a9;
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-background-radius: 0 0 0 50;
}

.toolbar2 {
    -fx-background-color: #4059a9;
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-background-radius: 0 0 50 0;
}
/*.fonteffect
{
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-effect: innershadow(gaussian,rgb(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
}*/

.toolbarDBE{
    -fx-pref-height:50px;
    -fx-background-color: #4059a9;
}

.side-bar{
    -fx-background-color: #ffffff;
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-background-radius: 0 50 0 0;
}
.side-buttons{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-alignment: CENTER_LEFT;
}

.buttonDBE{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
    -fx-border-color: #757575;
    -fx-border-radius: 50px;
}

.menu-bar{
    -fx-font-size: 16px;
    -fx-text-fill: #757575;
    -fx-font-weight: bold;
}


.fab{
    -fx-pref-height:50px;
    -fx-pref-width:50px;
    -fx-background-color: #ff4081;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,1);
}


.card-white
{
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
}

.card-white-Dash
{
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 50 0 0 0;
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
    -fx-effect: innershadow(gaussian,rgba(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
}

.card-blue
{
    -fx-background-color: #4059a9;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
}
/*Toogle buttons for sideboard*/
.button-raised
{
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,
    1);
    -fx-background-color: rgb(250, 250, 250);
}

.Label
{
    -fx-text-fill: #757575;
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
}



.color-picker .color-picker-label .text
{
    visibility: false;
}

.jfx-tab-pane
{
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;
}

.font
{
    -fx-font-weight: bold;
    -fx-text-fill: #757575;
    -fx-font-size: 16px;
}

.button-pressed:pressed{
   -fx-background-color: #399FFF;
}

.text-field {
    -fx-prompt-text-fill: #757575;
}

/*Material look tableview*/
/*.table-view {
    /*     Constants used throughout the tableview. */
   /* -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border;
    /*    Horizontal Lines*/
 /*   -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
/*.table-view .filler, .table-view .column-header
{
    -fx-size: 40;
    -fx-border-style: null;
    -fx-border-color: rgb(200.0, 200.0, 200.0);
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label,
.table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-cell-size: 30px;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}


/*Progress bar*/
/*.progress-bar>.track {
    -fx-background-color: derive(rgb(200.0, 200.0, 200.0), 50.0%);
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.progress-bar>.bar {
    -fx-background-color:  #F87951;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}
/*Control label*/
/*.control-label {
    -fx-font-size: 13.5px;
    -fx-padding: 8 0 0 0;
    -fx-font-family:'Roboto Medium';
    -fx-text-fill: #4d4d4d;

}

.control-label .text {
    -fx-fill: -fx-text-control-title-color;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox, ChoiceBox COMMON                                                 *
 *                                                                             *
 ******************************************************************************/
/*.combo-box-base, .choice-box {
    -fx-background-color: transparent;
    -fx-border-color: -swatch-grey;
    -fx-border-width: 0 0 2 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.combo-box:focused, .choice-box:focused {
    -fx-border-color: -swatch-500;
}

.combo-box-base>.label, .choice-box>.label {
    -fx-padding: 0.7em 0.7em 0.7em 0em;
}

.combo-box-base>.arrow-button, .choice-box>.open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
}

.combo-box-base>.arrow-button>.arrow, .choice-box>.open-button>.arrow {
    -fx-background-color: -swatch-grey;
}

.combo-box-base .arrow-button:hover .arrow, .spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow {
    -fx-background-color: -swatch-dark-grey;
}

.menu-item:focused {
    -fx-background-color: -swatch-light-grey;
}

